.footer {
    display: flex;
    justify-content: space-between;
}
.footer-wrapper {
    padding: 3.125rem 0; // 50px
}
.footer-list {
    display: flex;
    margin-bottom: 1.875rem;
}
.footer-menu-link {
    margin-right: 2.1875rem; // 35px
    text-transform: uppercase;
}
.social{
    display: flex;
    align-items: center;
    &-link {
        margin-left: 1.5625rem;
    }
}
.vk {
    fill: $white;
    position: relative;
    top: 2px;
}
.footer-right {
    text-align: end;
}
.number-medium {
    font-size: 24px;
    margin: 0.75rem 0;
}