.header {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &-left {
        display: flex;
    }
}
.header-right {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 190px;
}
.logo {
    width: 8.8rem;
    margin-right: 2.5rem; // 40px
}
.header-description, .call-free {
    font-size: 0.75rem; // 12px
}
.order-call {
    font-size: 1rem; //16px
    display: block;
    text-align: end;
    margin-top: 1rem;
}
.header-number {
    font-family: 'Gotham Pro Medium';
    font-size: 1.25rem;
    margin-bottom: 0.4rem;
}