$grey: #292929;
$dark-grey: #1A1A1A;
$red1: #FF2E55; // заказать букет red - order a bouquet
$red2: #F24841; // Посмотреть фотографии букета, в корзину red - basket, все цветы red
// #FF3469; // заказать звонок red 
// #FF1844; // закажи прямо сейчас red
$white: #fff;
$beige: #F7B496;
$pink: #ED366E;
$red: #FF0000;
$blue: #12129D;
$yellow: rgb(255, 232, 104);

$h1: 2.125rem; // 34px
$h2: 1.875rem; // 30px